*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(90deg, #f1c5a0, #e7a472, #b14e23);
  background: linear-gradient(90deg, #f1c5a0, #e7a472, #b14e23);
  /* background-color: #f7e8d1; */
  /* background-size: 12px 12px; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* overflow: hidden; */
}
body::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 25px;
}
.header-wrapper {
  background: #312e2b;
  max-width: 1200px;
  margin: 0 auto;
  /* border-radius: 10px; */
}
.header-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 40px 40px;
}
.foto-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto {
  max-width: 420px;
  height: 420px;
  width: 100%;
}
.foto img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.content-wrapper {}
.content {
  display: inline-block;
  color: white;
  width: 100%;
  text-align: center;
}
.content h1 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 50px;
  transition: all 0.3s ease-out;
}
.content h2 {
  margin: 0;
  font-size: 20px;
  padding-bottom: 45px;
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.section-inner {
  background: #312e2b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  align-items: center;
  padding: 20px 40px;
  /* border-radius: 10px; */
}
.left-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
  max-width: 420px;
  width: 100%;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}
.contact_me {
  text-align: center;
  font-size: 25px;
  color: white;
}
.right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
  display: inline-block;
  text-align : center;
  width: 100%;
  padding: 10px 0;
}
.my_links {
  font-size: 60px;
  
}
svg {
  width: 48px;
  height: 48px;
  fill: white;
}
.one_icon {
  display: inline-block;
  transition: color 0.3s;
  margin-right: 30px;
}
.one_icon:hover > svg {
  fill: #dd04fd;
 }
.one_icon:last-child {
  margin-right: 0;
}
.footer {
  background: #312e2b;
  padding: 50px 40px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  /* border-radius: 10px; */
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .header-inner {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    padding: 5px;
  }
  .content h1 {
    font-size: 30px;
  }
  .foto {
    max-width: 320px;
    height: 320px;
  }
  .section-inner {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    padding: 5px;
  }
  
  .left {
    max-width: 320px;
  }
  
}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 1200px) {
    .header-wrapper {
        border-radius: 10px;
      }
      .section-inner {
        border-radius: 10px;
      }
      .footer {
        border-radius: 10px;
      }
}

